@media print,
(max-width: 1023px)
{
    /*-------------------
        Global styles
    -------------------*/
    :root
    {
        --sidebar_width: 100%;
    }



    .content_flex
    {
        margin: 0;
    }


    .content_flex > .cont.row
    {
        padding: 0;
    }


    .content_flex .content
    {
        width: 100%;
    }



    /*------------
        Header
    ------------*/
    header
    {
        position: fixed !important;
        z-index: 9 !important;
        top: 0;
        right: 100%;
        left: auto;

        width: 100%;
        height: 100%;
        min-height: -moz-available;
        min-height: -webkit-fill-available;
        min-height:         fill-available;
        margin: 0;
        padding: 90px 0 0;

        transition: transform .3s linear;

        color: #fff;
        background: #1c1c1c;
    }


    header.show
    {
        transform: translateX(100%);
    }


    header .scroll
    {
        display: flex;
        overflow: auto;
        flex-direction: column;

        height: 100%;
        min-height: -moz-available;
        min-height: -webkit-fill-available;
        min-height:         fill-available;
        padding-top: 20px;

        border-top: 1px solid rgba(255,255,255, .2);

        overscroll-behavior-y: contain;
    }


    header .scroll > *
    {
        width: 100%;
    }


    header .top
    {
        order: 2;
    }


    header .cont
    {
        align-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
        justify-content: flex-start;

        gap: 40px;
    }


    header .logo
    {
        display: none;
    }


    header .phones
    {
        width: 100%;

        text-align: left;
    }


    header .menu
    {
        align-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
        justify-content: flex-start;

        width: 100%;

        background: none;

        gap: 24px;
    }


    header .menu a
    {
        height: auto;
        padding: 0;
    }


    header .callback_btn
    {
        height: 48px;
    }



    /*-----------------
        Mob. header
    -----------------*/
    .mob_header
    {
        display: block;
    }



    /*-------------
        Sidebar
    -------------*/
    aside
    {
        display: none;
    }



    /*------------
        Footer
    ------------*/
    footer .col
    {
        display: flex;
        align-content: center;
        align-items: center;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;

        width: 100%;
        margin-bottom: 60px;
    }



    footer .logo img
    {
        width: 212px;
    }



    footer .contacts
    {
        display: flex;
        align-content: center;
        align-items: center;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
    }


    footer .contacts .phones,
    footer .contacts .support
    {
        gap: 12px;
    }
}
